/* Common */
.aec-color-green {
  color: #70ad2d; }

.aec-color-white {
  color: white; }

.aec-background-green {
  background: #70ad2d; }

.aec-invisible {
  display: none !important;
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important;
  overflow: hidden !important; }

/** Card */
.aec-association-card {
  margin-top: 10px;
  padding: 20px;
  -webkit-box-shadow: 1px 1px 3px #666;
  -moz-box-shadow: 1px 1px 3px #666;
  box-shadow: 1px 1px 3px #666;
  background: #fff; }

.aec-association-card .aec-association-card-header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px; }

.aec-association-card .aec-association-card-header .aec-association-card-header-logo {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }

.aec-association-card:hover {
  -webkit-box-shadow: 1px 1px 5px #666;
  -moz-box-shadow: 1px 1px 5px #666;
  box-shadow: 1px 1px 5px #666; }

/** Grid */
.aec-editable-fields-grid-header {
  border-bottom: 2px solid #666; }

.aec-editable-field {
  border-bottom: 1px solid #999;
  background: #f7f7f7; }

.aec-editable-field .aec-editable-field-expanded {
  display: none; }

.aec-editable-field .aec-editable-field-collapsed {
  display: flex; }

.aec-editable-field.isExpanded .aec-editable-field-expanded {
  display: block; }

.aec-editable-field.isExpanded .aec-editable-field-collapsed {
  display: none; }

.aec-editable-field:nth-child(2n) {
  background: #fff; }

/* Inputs */
.aec-form-field {
  margin-top: 10px;
  margin-bottom: 0; }

.aec-form-field.isHidden {
  display: none !important; }

.aec-text-input {
  width: 100%;
  border-radius: 0;
  outline: none !important;
  height: 40px;
  display: flex;
  border: 1px solid #999;
  justify-content: flex-start;
  align-items: center;
  padding: 0 20px; }
  .aec-text-input:focus {
    -webkit-box-shadow: 1px 1px 5px #999;
    -moz-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999; }

textarea.aec-form-field-core {
  height: 200px;
  padding: 10px 20px; }

.aec-switch {
  cursor: pointer;
  display: inline-block; }

.aec-switch .aec-switch-core {
  opacity: 0 !important;
  width: 0 !important;
  height: 0 !important; }

.aec-switch .aec-switch-core ~ .aec-switch-content {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 20px;
  border-radius: 10px;
  background: rgba(112, 173, 45, 0.3);
  -webkit-box-shadow: 0 0 1px #666;
  -moz-box-shadow: 0 0 1px #666;
  box-shadow: 0 0 1px #666; }

.aec-switch .aec-switch-core ~ .aec-switch-content:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border-radius: 10px;
  border: 1px solid #666;
  background: white; }

.aec-switch .aec-switch-core:checked ~ .aec-switch-content {
  background: #70ad2d; }

.aec-switch .aec-switch-core:checked ~ .aec-switch-content:after {
  left: 10px; }

/* Links */
.aec-clickable-link {
  cursor: pointer;
  opacity: .8;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  color: #70ad2d !important;
  text-decoration: none !important; }

.aec-clickable-link:hover {
  opacity: 1;
  border-bottom: 1px solid #70ad2d; }

.aec-button {
  background: white;
  padding: 5px 15px;
  border: 1px solid #666;
  border-radius: 4px; }

.aec-green-button {
  background: #70ad2d;
  color: #fff; }

.aec-button-block {
  display: block;
  width: 100%; }

/*# sourceMappingURL=Common.css.map */
