@page "{id}"
@model Auto_Enrollment_Caliper.Pages.EditAssociationForm

@{
    ViewData["Title"] = "Registration Form";
}

<div class="text-center mb-5">
    <partial name="Components/PageBanner" model="@Model.Banner"/>
    <div class="container mt-3">
        <div class="aec-association-global-settings-form">
            <div class="row">
                <h3 class="col-12 text-left">Edit Association Settings</h3>
                @foreach (var field in @Model.AssociationSettings)
                {
                    <partial name="Components/FormField" model="field"/>
                }
                <partial name="Components/ChipsInput" model="@Model.AssociationAdmins"/>
                <partial name="Components/DropdownInput" model="@Model.TestDrodpownInput"/>
            </div>
        </div>
        <div class="row">
            <h3 class="col-12 text-left mt-3">Edit Registration Form Settings</h3>
        </div>
        <div class="aec-editable-fields-grid-header aec-background-green aec-color-white">
            <div class="row">
                <div class="col-6 py-2 text-left">
                    <b class="px-2">Field Name</b>
                </div>
                <div class="col-2 py-2 text-right">
                    <b>Is Required</b>
                </div>
                <div class="col-2 py-2 text-right">
                    <b>Is Visible</b>
                </div>
                <div class="col-2 py-2 text-right">&nbsp;</div>
            </div>
        </div>
        <div class="aec-association-settings-form">
            @foreach (var field in @Model.EditableFields)
            {
                <partial name="Components/EditableField" model="field"/>
            }
        </div>

        <div class="row">
            <div class="col-12 py-3 text-right">
                <button class="aec-button aec-green-button" onclick="submitData()">
                    <span>Submit</span>
                </button>
            </div>
        </div>
    </div>
    <form class="aec-edit-association-form aec-invisible" onsubmit="sendForm()" method="POST">
        <input type="text" name="fields" />
        <input type="text" name="logoURL" />
        <input type="text" name="apiURL" />
        <input type="text" name="apiKey" />
        <input type="text" name="admins" />
        <button class="aec-edit-association-form submit-button" type="submit">CLICK ME</button>
    </form>
    
    <script type="text/javascript" src="~/js/Components/ChipsInput.js"></script>
    <script type="text/javascript" src="~/js/Components/DropdownInput.js"></script>
    <script type="text/javascript" src="~/js/EditAssociationForm.js"></script>
</div>