﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="text-center">
    <partial name="Components/PageBanner" model="@Model.Banner"/>
    <div class="container my-3">
        <div class="row">
            @foreach (var card in @Model.CardModels)
            {
                <div class="col-12 col-lg-4 col-xl-4">
                    <partial name="Components/AssociationCard" model="card"/>
                </div>
            }
        </div>
    </div>
</div>