@page "{id}"
@model Auto_Enrollment_Caliper.Pages.RegistrationForm

@{
    ViewData["Title"] = "Registration Form";
}

<div class="text-center">
    <partial name="Components/PageBanner" model="@Model.Banner"/>
    <div class="aec-registration-form-data">
        @foreach (var field in @Model.Fields)
        {
            @if (field.visible.state)
            {
                <partial name="Components/DataToString" model="field" />
            }
        }
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="aec-registration-form-tabs">
                    @foreach (var tab in @Model.Tabs)
                    {
                        <div class="aec-registration-form-tab" onclick="changeTab('@tab', true)">
                            <b>@tab</b>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="aec-registration-form-errors"></div>
            </div>
        </div>
        <form class="aec-registration-form" onsubmit="onFormSubmit()">
            <div class="row">
                <div class="col-12 text-left">
                    <h3 class="aec-registration-form-header mt-3"></h3>
                </div>
            </div>
            <div class="aec-registration-form-fields">
                <div class="row">
                    <div class="col-12">
                        <div class="aec-registration-form-title">
                            <div class="aec-registration-form-title-logo" style="background-image: url('@Model.logoURL')"></div>
                            <button type="button" class="aec-button aec-green-button aec-button-block" onclick="stepForward()">
                                <span>Register now</span>
                            </button>
                            <br />
                            <a class="aec-color-green aec-clickable-link mt-2" href="@Model.loginURL">
                                <span>Already have an account?</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var field in @Model.Fields)
                    {
                        @if (field.name == "State")
                        {
                            <partial name="Components/DropdownInput" model="@Model.StateSelector" />
                        }
                        else if (field.name == "AddressType")
                        {
                            <partial name="Components/DropdownInput" model="@Model.AddressTypeSelector" />
                        }
                        else
                        {
                            <partial name="Components/FormField" model="field"/>
                        }
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-left py-2">
                    <button type="button" class="aec-button" onclick="stepBack()">
                        <span>Back</span>
                    </button>
                </div>
                <div class="col-6 text-right py-2">
                    <button type="button" class="aec-button show-when-not-ready" onclick="stepForward()">
                        <span>Next</span>
                    </button>
                    <button type="button" class="aec-button show-when-ready aec-green-button" onclick="stepForward()">
                        <span>Submit</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    
    <script type="text/javascript" src="~/js/Components/DropdownInput.js"></script>
    <script type="text/javascript" src="~/js/RegistrationForm.js"></script>
</div>