.aec-chips-input {
  border: 1px solid #999;
  padding: 10px 20px; }
  .aec-chips-input .aec-chips-input-content {
    display: inline-block; }
  .aec-chips-input .aec-chips-core {
    display: none !important;
    width: 0 !important;
    height: 0 !important; }

/*# sourceMappingURL=ChipsInput.css.map */
