@import "../Common/Mixins";

.aec-chips-input {
  border: 1px solid #999;
  padding: 0 20px 10px;
  min-height: 40px;
  
  .aec-chips-input-content {
    display: inline-block;
    
    .aec-chips-input-content-items {
      display: inline-block;

      .aec-chips-input-content-item {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        background: #DDD;
        height: 40px;
        margin: 10px 10px 0 0;
        @include use-transition($fast);
        @include use-box-shadow($transparent);
        
        .aec-chips-input-content-item-remove {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 40px;
          font-size: 10px;
          cursor: pointer;
          margin-left: 10px;
          opacity: 0;
          @include use-transition($fast);
          
          &:after {
            content: '\274c';
            color: #999;
          }
        }
        
        &:hover {
          @include use-box-shadow(0 0 2px #999);
          .aec-chips-input-content-item-remove {
            opacity: 1;
          }
        }
      }
    }
    
    .aec-chips-input-content-core {
      display: inline-flex;
      height: 40px;
      padding: 0;
      min-width: 300px;
      max-width: 100%;
      
      &, &:focus, &:active {
        background: #fff;
        border: none!important;
        outline: none!important;
      }
    }
  }
  
  .aec-chips-core {
    display: none!important;
    width: 0!important;
    height: 0!important;
  }
  
  &.isEmpty {
    padding: 10px 20px 10px;
  }
  
}