.aec-dropdown-input {
  border: 1px solid #999;
  padding: 20px 0;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center; }

/*# sourceMappingURL=DropdownInput.css.map */
