@import "../Common/Mixins";

.aec-dropdown-input {
  position: relative;
  
  .aec-dropdown-core {
    display: none!important;
    width: 0!important;
    height: 0!important;
  }
  
  .aec-dropdown-input-header {
    padding: 0 40px 0 20px;
    border: 1px solid #999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .aec-dropdown-input-header-label {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    
    &:after {
      position: absolute;
      top: 10px;
      right: 10px;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #999;
      border-left: 1px solid #999;
      
      @include use-transformed-origin(50%);
      @include use-transformed(rotate(-45deg));
    }
    
    &:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
  
  .aec-dropdown-input-body {
    z-index: $z-highest;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    bottom: auto;
    width: 100%;
    max-height: 300px;
    background: #fff;
    @include use-box-shadow(0 0 4px #999);
    overflow-x: hidden;
    overflow-y: auto;

    .aec-dropdown-input-body-item {
      padding: 10px 20px;
      cursor: pointer;
      
      &:hover {
        background: darken(#fff, 5%);
      }
      
      &.isSelected {
        background: darken(#fff, 4%);
      }
    }
  }
  
  &.isOpened {
    .aec-dropdown-input-header {
      @include use-box-shadow(1px 1px 5px #999);
      
      &:after {
        @include use-transformed(rotate(135deg));
      }
    }
    
    .aec-dropdown-input-body {
      display: block;
    }
  }
  
  &.isReversed {
    .aec-dropdown-input-body {
      top: auto;
      left: 0;
      bottom: 100%;  
    }
  }
}

