@import "../Common/Mixins";

.aec-page-banner {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #0b2e13;
  color: white;
  font-weight: 200!important;

  .aec-page-banner-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;

    .aec-page-banner-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 30%;
      opacity: 0;
      @include use-transition(10000ms);
      @include use-transformed(scale(1.3));
      
      &.isSelected {
        opacity: 1;
        @include use-transformed(scale(1));
      }
    }
    
    &:after {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      content: '';
      display: block;
    }
  }

  .aec-page-banner-label {
    position: relative;
    font-size: 40px;
    font-weight: 200;
    opacity: 0;
    @include use-transition(2000ms);
    @include use-transformed(translate(50px, 10px) scale(1.2));
  }
  
  &.isReady {
    .aec-page-banner-label {
      opacity: 1;
      @include use-transformed(translate(0px, 0px) scale(1));
    }
  }
}
