@import "../Common/Mixins.scss";

.aec-registration-form-tabs {

    @mixin pulse-animation-steps () {
        0% { 
            opacity: 1;
            @include use-transformed(scale(.8)); }
        75% {
            opacity: .7;
            @include use-transformed(scale(1.3)); }
        100% {
            opacity: 0;
            @include use-transformed(scale(2));}
    }

    @mixin use-pulse-animation ($speed: 1s, $delay: 0, $ease: ease-out) {

        animation: $speed $ease 0ms infinite pulse-animation;
        -o-animation: $speed $ease 0ms infinite pulse-animation;
        -moz-animation: $speed $ease 0ms infinite pulse-animation;
        -webkit-animation: $speed $ease 0ms infinite pulse-animation;

        
        @-moz-keyframes pulse-animation {
            @include pulse-animation-steps();
        }
        @-webkit-keyframes pulse-animation {
            @include pulse-animation-steps();
        }
        @keyframes pulse-animation {
            @include pulse-animation-steps();
        }
    }


    width: 100%;
    border-bottom: 1px solid #999;
    font-size: 12px;
    display: inline-flex;
    text-align: left;

    .aec-registration-form-tab {
        cursor: pointer;
        padding: 10px 20px;
        font-weight: bold;
        opacity: .8;
        position: relative;
        display: inline-flex;
        
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0;
            background: #70ad2d;
        }
        
        &.isSelected:before {
            height: 3px;
        }
        
        &:after {
            content: '!';
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 10px;
            height: 10px;
            font-size: 8px;
            color: #fff;
            background: #f00;
            border-radius: 5px;
            margin: 5px 10px 0 5px;
            opacity: 0;
        }
        
        &.hasErrors:after {
            @include use-pulse-animation();
        }
    }
}
