.aec-registration-form-tabs {
  width: 100%;
  border-bottom: 1px solid #999;
  font-size: 12px;
  display: inline-flex;
  text-align: left; }

.aec-registration-form-tabs .aec-registration-form-tab {
  cursor: pointer;
  padding: 10px 20px;
  font-weight: bold;
  opacity: .8;
  position: relative;
  display: inline-flex; }

.aec-registration-form-tabs .aec-registration-form-tab:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #70ad2d; }

.aec-registration-form-tabs .aec-registration-form-tab.isSelected:after {
  height: 3px; }

/*# sourceMappingURL=Tabs.css.map */
