.aec-chips-input {
  border: 1px solid #999;
  padding: 0 20px 10px;
  min-height: 40px; }
  .aec-chips-input .aec-chips-input-content {
    display: inline-block; }
    .aec-chips-input .aec-chips-input-content .aec-chips-input-content-items {
      display: inline-block; }
      .aec-chips-input .aec-chips-input-content .aec-chips-input-content-items .aec-chips-input-content-item {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 10px;
        background: #DDD;
        height: 40px;
        margin: 10px 10px 0 0;
        -webkit-transition: 100ms;
        -moz-transition: 100ms;
        -ms-transition: 100ms;
        -o-transition: 100ms;
        transition: 100ms;
        -webkit-box-shadow: rgba(0, 0, 0, 0);
        -moz-box-shadow: rgba(0, 0, 0, 0);
        box-shadow: rgba(0, 0, 0, 0); }
        .aec-chips-input .aec-chips-input-content .aec-chips-input-content-items .aec-chips-input-content-item .aec-chips-input-content-item-remove {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 40px;
          font-size: 10px;
          cursor: pointer;
          margin-left: 10px;
          opacity: 0;
          -webkit-transition: 100ms;
          -moz-transition: 100ms;
          -ms-transition: 100ms;
          -o-transition: 100ms;
          transition: 100ms; }
          .aec-chips-input .aec-chips-input-content .aec-chips-input-content-items .aec-chips-input-content-item .aec-chips-input-content-item-remove:after {
            content: '\274c';
            color: #999; }
        .aec-chips-input .aec-chips-input-content .aec-chips-input-content-items .aec-chips-input-content-item:hover {
          -webkit-box-shadow: 0 0 2px #999;
          -moz-box-shadow: 0 0 2px #999;
          box-shadow: 0 0 2px #999; }
          .aec-chips-input .aec-chips-input-content .aec-chips-input-content-items .aec-chips-input-content-item:hover .aec-chips-input-content-item-remove {
            opacity: 1; }
    .aec-chips-input .aec-chips-input-content .aec-chips-input-content-core {
      display: inline-flex;
      height: 40px;
      padding: 0;
      min-width: 300px;
      max-width: 100%; }
      .aec-chips-input .aec-chips-input-content .aec-chips-input-content-core, .aec-chips-input .aec-chips-input-content .aec-chips-input-content-core:focus, .aec-chips-input .aec-chips-input-content .aec-chips-input-content-core:active {
        background: #fff;
        border: none !important;
        outline: none !important; }
  .aec-chips-input .aec-chips-core {
    display: none !important;
    width: 0 !important;
    height: 0 !important; }
  .aec-chips-input.isEmpty {
    padding: 10px 20px 10px; }

.aec-dropdown-input {
  position: relative; }
  .aec-dropdown-input .aec-dropdown-core {
    display: none !important;
    width: 0 !important;
    height: 0 !important; }
  .aec-dropdown-input .aec-dropdown-input-header {
    padding: 0 40px 0 20px;
    border: 1px solid #999;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .aec-dropdown-input .aec-dropdown-input-header .aec-dropdown-input-header-label {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .aec-dropdown-input .aec-dropdown-input-header:after {
      position: absolute;
      top: 10px;
      right: 10px;
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: 1px solid #999;
      border-left: 1px solid #999;
      moz-transform-origin: 50% 50%;
      -o-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    .aec-dropdown-input .aec-dropdown-input-header:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer; }
  .aec-dropdown-input .aec-dropdown-input-body {
    z-index: 5000;
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    bottom: auto;
    width: 100%;
    max-height: 300px;
    background: #fff;
    -webkit-box-shadow: 0 0 4px #999;
    -moz-box-shadow: 0 0 4px #999;
    box-shadow: 0 0 4px #999;
    overflow-x: hidden;
    overflow-y: auto; }
    .aec-dropdown-input .aec-dropdown-input-body .aec-dropdown-input-body-item {
      padding: 10px 20px;
      cursor: pointer; }
      .aec-dropdown-input .aec-dropdown-input-body .aec-dropdown-input-body-item:hover {
        background: #f2f2f2; }
      .aec-dropdown-input .aec-dropdown-input-body .aec-dropdown-input-body-item.isSelected {
        background: whitesmoke; }
  .aec-dropdown-input.isOpened .aec-dropdown-input-header {
    -webkit-box-shadow: 1px 1px 5px #999;
    -moz-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999; }
    .aec-dropdown-input.isOpened .aec-dropdown-input-header:after {
      -moz-transform: rotate(135deg);
      -o-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg); }
  .aec-dropdown-input.isOpened .aec-dropdown-input-body {
    display: block; }
  .aec-dropdown-input.isReversed .aec-dropdown-input-body {
    top: auto;
    left: 0;
    bottom: 100%; }

.aec-registration-form-tabs {
  width: 100%;
  border-bottom: 1px solid #999;
  font-size: 12px;
  display: inline-flex;
  text-align: left; }
  .aec-registration-form-tabs .aec-registration-form-tab {
    cursor: pointer;
    padding: 10px 20px;
    font-weight: bold;
    opacity: .8;
    position: relative;
    display: inline-flex; }
    .aec-registration-form-tabs .aec-registration-form-tab:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: #70ad2d; }
    .aec-registration-form-tabs .aec-registration-form-tab.isSelected:before {
      height: 3px; }
    .aec-registration-form-tabs .aec-registration-form-tab:after {
      content: '!';
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 10px;
      height: 10px;
      font-size: 8px;
      color: #fff;
      background: #f00;
      border-radius: 5px;
      margin: 5px 10px 0 5px;
      opacity: 0; }
    .aec-registration-form-tabs .aec-registration-form-tab.hasErrors:after {
      animation: 1s ease-out 0ms infinite pulse-animation;
      -o-animation: 1s ease-out 0ms infinite pulse-animation;
      -moz-animation: 1s ease-out 0ms infinite pulse-animation;
      -webkit-animation: 1s ease-out 0ms infinite pulse-animation; }
@-moz-keyframes pulse-animation {
  0% {
    opacity: 1;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  75% {
    opacity: .7;
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    opacity: 0;
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2); } }
@-webkit-keyframes pulse-animation {
  0% {
    opacity: 1;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  75% {
    opacity: .7;
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    opacity: 0;
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2); } }
@keyframes pulse-animation {
  0% {
    opacity: 1;
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    transform: scale(0.8); }
  75% {
    opacity: .7;
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3); }
  100% {
    opacity: 0;
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2); } }
.aec-page-banner {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #0b2e13;
  color: white;
  font-weight: 200 !important; }
  .aec-page-banner .aec-page-banner-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden; }
    .aec-page-banner .aec-page-banner-images .aec-page-banner-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: 50% 30%;
      opacity: 0;
      -webkit-transition: 10000ms;
      -moz-transition: 10000ms;
      -ms-transition: 10000ms;
      -o-transition: 10000ms;
      transition: 10000ms;
      -moz-transform: scale(1.3);
      -o-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -webkit-transform: scale(1.3);
      transform: scale(1.3); }
      .aec-page-banner .aec-page-banner-images .aec-page-banner-image.isSelected {
        opacity: 1;
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1); }
    .aec-page-banner .aec-page-banner-images:after {
      position: relative;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      content: '';
      display: block; }
  .aec-page-banner .aec-page-banner-label {
    position: relative;
    font-size: 40px;
    font-weight: 200;
    opacity: 0;
    -webkit-transition: 2000ms;
    -moz-transition: 2000ms;
    -ms-transition: 2000ms;
    -o-transition: 2000ms;
    transition: 2000ms;
    -moz-transform: translate(50px, 10px) scale(1.2);
    -o-transform: translate(50px, 10px) scale(1.2);
    -ms-transform: translate(50px, 10px) scale(1.2);
    -webkit-transform: translate(50px, 10px) scale(1.2);
    transform: translate(50px, 10px) scale(1.2); }
  .aec-page-banner.isReady .aec-page-banner-label {
    opacity: 1;
    -moz-transform: translate(0px, 0px) scale(1);
    -o-transform: translate(0px, 0px) scale(1);
    -ms-transform: translate(0px, 0px) scale(1);
    -webkit-transform: translate(0px, 0px) scale(1);
    transform: translate(0px, 0px) scale(1); }

/*# sourceMappingURL=Main.css.map */
