.aec-registration-form-fields {
  min-height: 500px; }

.aec-registration-form-title {
  width: 300px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .aec-registration-form-title .aec-registration-form-title-logo {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
  .aec-registration-form-title.isHidden {
    display: none !important; }

.aec-registration-form .show-when-not-ready {
  display: inline-block; }
.aec-registration-form .show-when-ready {
  display: none; }
.aec-registration-form.isReady .show-when-not-ready {
  display: none; }
.aec-registration-form.isReady .show-when-ready {
  display: inline-block; }

.aec-registration-form-errors {
  text-align: left;
  position: relative;
  color: #fff;
  margin-bottom: 10px; }
  .aec-registration-form-errors .aec-registration-form-error {
    background: #f00;
    color: #fff;
    padding: 10px 20px; }
    .aec-registration-form-errors .aec-registration-form-error:first-child {
      margin-top: 10px;
      padding-top: 10px; }
  .aec-registration-form-errors .aec-registration-form-errors-clear {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .7;
    cursor: pointer;
    -webkit-transition: 100ms;
    -moz-transition: 100ms;
    -ms-transition: 100ms;
    -o-transition: 100ms;
    transition: 100ms; }
    .aec-registration-form-errors .aec-registration-form-errors-clear:hover {
      opacity: 1; }

/*# sourceMappingURL=RegistrationForm.css.map */
