﻿@import "./Common/Common.css";
@import "./RegistrationForm.css";
@import "./Main.css";

.aec-header {
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.aec-main {
  min-height: calc(100vh - 200px);
  padding-bottom: 100px;
}

.aec-footer {
  height: 100px;
  background: #333;
}

::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-thumb{
  background-color: #CCC;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #c1c1c1;
}
::-webkit-scrollbar-track{
  background-color: #fff;
}
::-webkit-scrollbar-track:hover{
  background-color: #fefefe;
}
::-webkit-scrollbar{
  width: 8px;
}
