<header class="container">
    <div class="row">
        <div class="col-12 text-left aec-header">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
        </div>
    </div>
</header>