<div class="aec-association-card">
    <div class="aec-association-card-header">
        <div class="aec-association-card-header-logo" style="background-image: url(@Model.associationLogo)"></div>
        <div class="aec-association-card-header-label">
            <h3>@Model.associationName</h3>
        </div>
    </div>
    <div class="aec-association-card-footer text-right">
        <span class="ml-1">
            <a class="aec-clickable-link" asp-area="" asp-page="/EditAssociationForm" asp-route-id="@Model.associationId">
                <span class="aec-association-card-footer-link">Edit</span>
            </a>
        </span>
        <span class="ml-1">
            <a class="aec-clickable-link" asp-area="" asp-page="/RegistrationForm" asp-route-id="@Model.associationId">
                <span class="aec-association-card-footer-link">Enter</span>
            </a>
        </span>
    </div>
</div>
