@model Auto_Enrollment_Caliper.Pages.Components.ChipsInputModel
<div id="aec-form-field-@Model.name" class="aec-form-field text-left @Model.className">
    <label style="margin-bottom: 0!important; display: block" for="aec-chips-input-content-@Model.name"><h6>@Model.Label</h6></label>
    <div class="aec-chips-input">
        <div class="aec-field-data aec-invisible">
            @foreach (var item in @Model.items)
            {
                <div class="aec-field-data-item">@item</div> 
            }
        </div>
        <div class="aec-chips-input-content text-left">
            <div class="aec-chips-input-content-items"></div>
            <input id="aec-chips-input-content-@Model.name" class="aec-chips-input-content-core" type="text" />
        </div>
        <input class="aec-form-field-core aec-chips-core" type="text" name="@Model.name" readonly="readonly" />
    </div>
</div>


