@model Auto_Enrollment_Caliper.Pages.Components.DropdownInputModel
<div id="aec-form-field-@Model.name" class="aec-form-field text-left @Model.className">
    <label style="margin-bottom: 0!important; display: block" for="aec-dropdown-input-content-@Model.name"><h6>@Model.Label</h6></label>
    <div class="aec-dropdown-input">
        <div class="aec-field-data aec-invisible">
            @foreach (var item in @Model.items)
            {
                <div class="aec-field-data-item">@item</div> 
            }
            <div class="aec-field-data-selection">@Model.selection</div>
        </div>
        <div class="aec-dropdown-input-header text-left"></div>
        <div class="aec-dropdown-input-body"></div>
        <input class="aec-form-field-core aec-dropdown-core" type="text" name="@Model.name" readonly="readonly" />
    </div>
</div>

