<div id="aec-editable-field-@Model.name" class="aec-editable-field">
    <partial name="Components/DataToString" model="@Model"/>
    <div class="aec-editable-field-collapsed row">
        <div class="col-6 py-2 text-left">
            <b class="px-2">@Model.label</b>
        </div>
        <div class="col-2 py-2 text-right">
            <partial name="Components/Switch" model="@Model.required"/>
        </div>
        <div class="col-2 py-2 text-right">
            <partial name="Components/Switch" model="@Model.visible"/>
        </div>
        <div class="col-2 py-2 text-right">
            <div class="px-2">
                <span class="aec-clickable-link" onclick="toggleEditableField('aec-editable-field-@Model.name', true)">Edit</span>
            </div>
        </div>
    </div>
    <div class="aec-editable-field-expanded p-3">
        <div class="row py-2">
            <div class="col-12 text-left">
                <b class="px-2">@Model.label</b>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>DB Field:</b>
            </div>
            <div class="col-8 text-left">
                <span>@Model.name</span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>Type:</b>
            </div>
            <div class="col-8 text-left">
                <span>@Model.type</span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>Section:</b>
            </div>
            <div class="col-8 text-left">
                <span>@Model.folder</span>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>Is required:</b>
            </div>
            <div class="col-8 text-left">
                <partial name="Components/Switch" model="@Model.required"/>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>Is visible:</b>
            </div>
            <div class="col-8 text-left">
                <partial name="Components/Switch" model="@Model.visible"/>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>Format:</b>
            </div>
            <div class="col-8 text-left">
                <input class="aec-form-field-core" type="text" name="format" value="@Model.format"/>
            </div>
        </div>
        <div class="row py-2">
            <div class="col-4 text-right">
                <b>Description:</b>
            </div>
            <div class="col-8 text-left">
                <textarea class="aec-form-field-core" type="text" name="text" value="@Model.text">@Model.text</textarea>
            </div>
        </div>
        <div class="row py-3 text-right">
            <div class="col-12">
                <button class="aec-button" onclick="toggleEditableField('aec-editable-field-@Model.name', false)">
                    <span>CLOSE</span>
                </button>
            </div>
        </div>
    </div>
</div>


