<label id="aec-form-field-@Model.name"
       class="aec-form-field text-left @Model.className">
    <h6 class="aec-form-field-label">
        <span>@Model.label</span>
        @if (@Model.required.state)
        {
            <span>*</span>
        }
    </h6>
    <input class="aec-form-field-core aec-text-input aec-form-field-folder-@Model.folder"
           name="@Model.name"
           data-val="@Model.required.state"
           data-val-required="This field is required."
           type="@Model.type"
           value="@Model.value" />
</label>
