<div id="@Model.componentId" class="aec-page-banner">
    <div class="aec-page-banner-images">
        @foreach (var item in @Model.images)
        {
            <div class="aec-page-banner-image" style="background-image: url('/images/@item')"></div>
        }
    </div>
    <div class="aec-page-banner-label">
        <span>@Model.label</span>
    </div>
</div>