<label class="aec-switch">
    <input name="@Model.name"
           class="aec-switch-core"
           type="checkbox"
           value="@Model.name"
           checked="@Model.state" />
    <div class="aec-switch-content"></div>
</label>
